.env
chroma/
venv/
__pycache__/

*/*/.env
*/*/chroma/

*/*/output.wav
*/*/user_audio.wav

*/*/*.pyc
*/*/*.pyo
*/*/*.pyd
*/__pycache__/

*/*/chroma/
*/*/output.wav
*/*/user_audio.wav
*/*/__pycache__/

*/*/.ipynb_checkpoints/
*/*/__pycache__/
*/*/.vscode/
*/*/.idea/
*/*/.DS_Store
*/*/.ipynb_checkpoints/
*/*/.vscode/
*/*/.idea/
*/*/.DS_Store
*/*/.pytest_cache/
*/*/.mypy

node_modules/
output_audio.wav
uploaded_audio.wav
